<!DOCTYPE html>
<html>
  <head>
    <title>New Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skill</h1>
    <h3><%= skill.skill %></h3>
    <h3>learned? <%= skill.learned ? 'yes' : 'not quite' %></h3>
    <!-- <a href="/skills/<%= id %>/edit">Edit skill</a> -->
  </body>
</html>
