<!DOCTYPE html>
<html>
  <head>
    <title>New Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To-Do</h1>
    <h3><%= skill.skill %></h3>
    <h3>learned? <%= skill.done ? 'yes' : 'not quite' %></h3>
    <!-- <a href="/todos/<%= id %>/edit">Edit to do</a> -->
  </body>
</html>
